.root {
  width: 100%;
  height: calc(100vh - 70px);
  padding: 40px 0px;
  background-color: #fefefe;

  & > :first-child {
    margin: 0px 24px;
  }
}

.posts-menu-bar {
  display: flex;
  width: calc(100% - 48px);
  height: 44px;
  padding: 0px 24px;
  margin-top: 24px;

  & > :first-child {
    border-bottom: 2px solid #125e99;
    color: #125e99;
  }
}

.menu-bar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  background: inherit;
  border: none;
  border-bottom: 2px solid #909090;
  color: #909090;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: calc(100% - 48px);
  padding: 24px;
  height: calc(100% - 224px);
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
