.home-container {
  display: grid;
  grid-template-columns: 360px calc(100% - 360px - 240px) 240px;
  width: 100%;
  max-width: 1368px;
  height: inherit;
  background-color: #fafafa;
  overflow: hidden;
}
