.header {
  height: 70px;
}

.auth-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px 40px;
  max-width: 1368px;

  .header-university-logo {
    width: 40px;
    height: 50px;
    user-select: none;
  }

  .header-app-logo {
    width: 100px;
    height: 24px;
    user-select: none;
  }
}

.avatar-menu-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.menu-icon {
  color: #125e99;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menu-icon-reverse {
  transform: rotate(180deg);
}

.unauth-header {
  width: 100%;
  opacity: 0;
}
