<section class="root">
  <header class="chat-room-header">
    <app-avatar
      [src]="getImage(convMember.userId)"
      [isOnline]="false"
    ></app-avatar>
    <div>
      <h3>{{ convMember.name }}</h3>
    </div>
    <img
      class="chat-settings-icon"
      src="assets/shared/svg/settings-icon.svg"
      alt="Settings icon"
      (click)="handleClose()"
    />
  </header>
  <div
    #scrollMe
    class="chat-room-body"
    [ngClass]="{ 'chat-room-body-smooth-scroll': isSmoothScroll }"
  >
    <div
      *ngFor="let message of messages"
      class="message"
      [ngClass]="{ 'my-message': userId === message.userId }"
    >
      <app-avatar
        [src]="getImage(message.userId)"
        size="sm"
        borderRadius="sm"
        [isOnline]="true"
      ></app-avatar>
      <p
        class="message-text"
        [ngClass]="{ 'my-message-text': userId === message.userId }"
      >
        {{ message.text }}
      </p>
    </div>
  </div>
  <footer class="chat-room-message-maker">
    <textarea
      autofocus
      class="message-maker-input"
      type="text"
      [(ngModel)]="value.text"
      [value]="value.text"
    ></textarea>

    <button
      class="message-maker-actions-emojis"
      (click)="handleToggleEmojiSelector()"
      (blur)="handleEmojiSelectorBlur()"
    >
      <img
        src="{{
          !!value.text
            ? 'assets/shared/svg/emoji-active-icon.svg'
            : 'assets/shared/svg/emoji-icon.svg'
        }}"
        alt=""
      />

      <emoji-mart
        class="emoji-selector"
        [ngClass]="{
          'emoji-selector-open': isEmojiSelectorOpen
        }"
        [showPreview]="false"
        title="UASSN"
        [perLine]="8"
        set="facebook"
        (emojiSelect)="handleSelectEmoji($event)"
      ></emoji-mart>
    </button>

    <span class="separator-actions-submit"></span>

    <button class="message-maker-submit-btn" (click)="handleSubmit()">
      <img
        class="message-maker-submit"
        [ngClass]="{ 'message-maker-submit-disabled': !value.text }"
        src="assets/shared/svg/submit-icon.svg"
        alt="Submit icon"
      />
    </button>
  </footer>
</section>
