.profile-container {
  display: grid;
  grid-template-columns: 360px calc(100% - 360px - 240px) 240px;
  width: 100%;
  max-width: 1368px;
  height: inherit;
  background-color: #fafafa;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .profile-container {
    grid-template-columns: 0px calc(100% - 0px - 240px) 240px;
  }
}

@media screen and (max-width: 600px) {
  .profile-container {
    grid-template-columns: 0px calc(100% - 0px - 180px) 180px;
  }
}

@media screen and (max-width: 520px) {
  .profile-container {
    grid-template-columns: 0px calc(100% - 0px - 0px) 0px;
  }
}
