<div class="root">
  <header class="post-header">
    <div class="post-header-owner">
      <app-avatar userName="Angela Aguilar" [isOnline]="true"></app-avatar>
      <div class="post-header-owner-info">
        <h3>Angela Aguilar</h3>
        <h4>Maestra de Ingeniería de Software</h4>
      </div>
    </div>
    <div class="post-options">
      <i class="pi pi-ellipsis-h post-options-icon"></i>
    </div>
  </header>
  <div class="post-body">Paga tus deudas desde tu app</div>
  <div class="post-footer"></div>
</div>
